<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container" th:fragment="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2018 joedoe</p>
            <p class="navbar-text pull-right" sec:authorize="isAuthenticated()">Role(s):
                <span sec:authorize="${hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')}">User</span>
                <span sec:authorize="${!hasRole('ROLE_USER') and hasRole('ROLE_ADMIN')}">Admin</span>
                <span sec:authorize="${hasRole('ROLE_USER') and hasRole('ROLE_ADMIN')}">User, Admin</span>
            </p>
        </div>
    </div>
</div>
</body>
</html>