<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text"> Hello, <span sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>!
</h1>
<p>Role(s):
    <span sec:authorize="hasRole('ROLE_USER')">User</span>
    <span sec:authorize="hasRole('ROLE_ADMIN')">, Admin</span>
</p>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>