<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Fancy Products</h1>
        </div>
    </div>

    <div class="row">
        <div th:each="product, it : ${products}">
            <div class="col-md-3" th:if="${it.count lt 5}">
                <div th:replace="fragments/products :: product">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:each="product, it : ${products}">
            <div class="col-md-3" th:if="${(it.count gt 4 and it.count lt 9)}">
                <div th:replace="fragments/products :: product">
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>