<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Login</h2>

    <div class="row">
        <label class="col-md-2 control-label"></label>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div th:if="${param.error}" class="col-md-4 alert alert-danger">
            <p>Invalid username and password.</p>
        </div>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div th:if="${param.logout}" class="col-md-4 alert alert-danger">
            <p>You have been logged out.</p>
        </div>
    </div>

    <form class="form-horizontal" th:action="@{/login}" method="post">
        <div class="row">
            <div class="form-group">
                <label for="username" class="col-md-2 control-label">Username:</label>
                <div class="col-md-4">
                    <input id="username" type="text" class="form-control" name="username"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password:</label>
                <div class="col-md-4">
                    <input id="password" type="password" class="form-control" name="password"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>